button {
	margin: 0.2em;
}

.remove {
	color:red;
	text-decoration:line-through;
}

.add {
	color:green;
}

.add_highlight {
	background-color: #abf2bc;
}

.remove_highlight {
	background-color: #ffc0c0;
}

.notes {
	background-color: #fff59d;
}

.change {
	padding-left: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

p {
	padding-left: 1em;
}

.unit {
	border: solid #888 2px;
	border-radius: 6px;
	margin: 1em 1em 1em 2em;
	padding: 1em;
}

.unit_record_card {
	width: 100% !important;
}

.unit_record_card > div > div:nth-child(2) {
	width: 100%;
}

.unit_record_card > div > div:nth-child(2) > div:first-child:nth-last-child(1),
.unit_record_card > div > div:nth-child(2) > div:first-child:nth-last-child(1) ~ div {
	width: 100% !important;
}

.unit_record_card > div > div:nth-child(2) > div:first-child:nth-last-child(2),
.unit_record_card > div > div:nth-child(2) > div:first-child:nth-last-child(2) ~ div {
	width: 50% !important;
}

.unit_record_card > div > div:nth-child(2) > div:first-child:nth-last-child(3),
.unit_record_card > div > div:nth-child(2) > div:first-child:nth-last-child(3) ~ div {
	width: 33% !important;
}

.unit_record_card > div > div:nth-child(2) > div:first-child:nth-last-child(4),
.unit_record_card > div > div:nth-child(2) > div:first-child:nth-last-child(4) ~ div {
	width: 25% !important;
}

.unit_record_card > div > div:nth-child(2) > div:first-child:nth-last-child(5),
.unit_record_card > div > div:nth-child(2) > div:first-child:nth-last-child(5) ~ div {
	width: 20% !important;
}

.apartment {
	border-bottom: solid #888 1px;
}

.approval_options {
	display: inline-flex;
}

.approval_options div:first-child input:checked + label {
	background-color: red;
}

.approval_options div:last-child input:checked + label {
	background-color: green;
}

